* {
  font-family: Arial, Helvetica, sans-serif;
}

svg {
  margin: 10px
}

.chart-header {
  font-size: 12px;
}

.row {
  display: flex;
  justify-content: center;
}

.column {
  display: flex;
  justify-content: center;
}

.second {
  display: flex;
  flex-direction: column;
}

.chart-header {
  font-family: arial;
  font-size: 18px;
  font-weight: bold;
}

.grid-chart-mark-labels, .grid-chart-label {
  font-size: 15px;
  font-weight: bold;
}

#backgroundVideo {
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -5;
}

#banner {
  background-position: center;
  display: block;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

#title {
  text-align: center;
  font-family: 'ZCOOL KuaiLe', cursive;
  font-size: 50px;
  color:  black;
}
