* {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #EADDD0;
}

svg {
  margin: 10px
}

.row {
  display: flex;
  justify-content: right;
}

.second {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.grid-chart-desc {
  width: 75%;
}

.chart-header {
  font-family: arial;
  font-size: 18px;
  font-weight: bold;
}

.grid-chart-mark-labels, .grid-chart-label {
  font-size: 15px;
  font-weight: bold;
}

#mpa-rating-button-container {
  text-align: center;
}

.mpa-rating-button {
  margin: 10px;
  font-size: 20px;

}

#backgroundVideo {
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -5;
}

#banner {
  background-position: center;
  display: block;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

#title {
  text-align: center;
  font-family: 'ZCOOL KuaiLe', cursive;
  font-size: 50px;
  color:  black;
}

.center {
  margin: 0;
  position: absolute;
  top: 530px;
  left: 50%;

}
