* {
  font-family: Arial, Helvetica, sans-serif;
}

svg {
  margin: 10px
}

.header {
  font-size: 20px;
  margin: auto;
  text-align: center;
  font-weight: bold;
}

.chart-header {
  font-size: 12px;
}

.row {
  display: flex;
  justify-content: center;
}

#mpa-rating-button-container {
  display: flex;
  flex-direction: column;
}

.mpa-rating-button {
  margin: 10px;
}

#innovation-chart {
  background-color: #FFFAFA;
}

#innovHeader {
  font-size: 18px;
  font-weight: bold;
}

#innovXAxis, #innovYAxis {
  font-size: 15px;
  font-weight: bold;
}

.tick line {
  visibility:hidden;
}

#tooltip {
  position: absolute;
  opacity: 1;
  background: #fff;
  box-shadow: 2px 2px 3px 0px rgb(92 92 92 / 0.5);
  border: 1px solid #ddd;
  font-size: 12px;
  font-weight: 600;
  padding: 2px 8px;
}

.tooltip-label {
  font-weight: 500;
  font-size: 10px;
  color: black;
}
